body {
    padding: 0;
    margin: 0;
    background-color: #000;
}

@font-face {
    font-family: tomo;
    src: url('tomo.ttf');
}

p {
    background-color: aliceblue;
    font: 12px tomo;
    margin: 0;
}

canvas {
    background-color: #248;
    color: #000;
    width: 100%;
    height: 512px;
}

[flex-controls] {
    display: flex;
    width: 100%;
    justify-content: center;
}

centerer {
    display: flex;
    justify-content: center;
}

[flex-controls-option] {
    color: #48F;
    background-color: #248;
    border: 2px #48F ridge;
    min-width: fit-content;
}

* :disabled {
    cursor: not-allowed;
    opacity: 50%;
}

[flex-grow] {
    flex-grow: 1;
}

[input-area] {
    width: calc(100% - 8px);
    color: #48F;
    background-color: #248;
    border: 2px #48F ridge;
    resize: none;
    height: 64px;
}